.container {
  width: 100%;
  max-width: 1576px;
  margin-right: auto;
  margin-left: auto;
}

.form-group {
  width: 100%;

  &.form-group--has-icon {
    position: relative;

    .icon {
      position: absolute;
      left: 26px;
      top: 16px;
      opacity: 0.6;
    }

    .form-control {
      width: 100%;
      padding-left: 60px;
    }
  }
}

.form-check-input {
  width: 25px;
  height: 25px;
  border: 0;
  border-radius: 5px;
  background-color: rgba($white, 0.05);
  border-color: $success !important;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($success, 0.25);
  }

  &:checked {
    background-color: $success;
    border-color: $success;
    box-shadow: 0 0 0 0.25rem rgba($success, 0.25);
    background-image: url($icons-path + "/check.svg") !important;
    background-size: 70%;
  }
}

.form-check-label {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
}

.form-control {
  width: 100%;
  height: 60px;
  border-radius: $border-radius-sm;
  background-color: rgba($white, 0.03);
  border: 0;
  font-size: 16px;
  color: #fff;
  font-family: $font-family, sans-serif;

  &:focus {
    background-color: rgba($white, 0.03);
    color: #fff;
    box-shadow: 0 0 0 0.25rem rgba($success, 0.25);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: rgba($white, 0.6);
  }
}

textarea.form-control {
  height: 180px;
  padding: 16px 13px;
}

.btn {
  height: 60px;
  min-width: fit-content;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
  padding: 0 25px;
  border-radius: $border-radius-sm;
  letter-spacing: -0.02em;

  .icon {
    margin-left: 5px;
  }

  &.btn-shadow {
    &:active {
      box-shadow: initial;
    }
  }
}

.btn-success {
  &.btn-shadow {
    @include btn-shadow($success);
  }

  &.btn-opacity {
    @include btn-opacity($success);

    &:hover {
      background-color: $success;
      color: $dark;
    }
  }
}

.btn-white {
  color: $dark;
  background-color: $white;
  border-color: $white;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($white, 0.5) !important;
  }

  &:hover {
    background-color: $white;
    color: $dark;
  }

  &.btn-shadow {
    @include btn-shadow($white);
  }

  &.btn-opacity {
    @include btn-opacity($white);

    &:hover {
      background-color: $white;
      color: $dark;
    }
  }
}

.btn-dark {
  background-color: rgba($white, 0.05);
  border: 0;
  &.btn-shadow {
    @include btn-shadow($dark);
  }

  &.btn-opacity {
    @include btn-opacity($white);

    &:hover {
      background-color: rgba($white, 0.05);
      color: $white;
    }
  }
}

.btn-primary {
  &.btn-shadow {
    @include btn-shadow($primary);
  }

  &.btn-opacity {
    @include btn-opacity($primary);

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}

.btn-danger {
  &.btn-shadow {
    @include btn-shadow($danger);
  }

  &.btn-opacity {
    @include btn-opacity($danger);

    &:hover {
      background-color: $danger;
      color: $dark;
    }
  }
}

.btn-secondary {
  &.btn-shadow {
    @include btn-shadow($secondary);
  }

  &.btn-opacity {
    @include btn-opacity($secondary);

    &:hover {
      background-color: $secondary;
      color: $white;
    }
  }
}

.btn-info {
  &.btn-shadow {
    @include btn-shadow($info);
  }

  &.btn-opacity {
    @include btn-opacity($info);

    &:hover {
      background-color: $info;
      color: $dark;
    }
  }
}

.btn-warning {
  &.btn-shadow {
    @include btn-shadow($warning);
  }

  &.btn-opacity {
    @include btn-opacity($warning);

    &:hover {
      background-color: $warning;
      color: $dark;
    }
  }
}

.nav-tabs {
  width: fit-content;
  margin: 0 auto 60px;
  border-bottom: 1px solid rgba($white, 0.2);

  &.page-nav-tabs {
    width: 100%;
    margin-bottom: 40px;
    .nav-link {
      font-weight: 700;
      font-size: 24px;
      line-height: 123.5%;
      color: $white;

      &.active {
        border: 0;
        background: none;
        color: $white;
        border-bottom: 1px solid $success;
      }
    }
  }

  .nav-link {
    border: 0;
    background: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: rgba($white, 0.7);

    &.active {
      border: 0;
      background: none;
      color: $success;
    }
  }
}

ul {
  li {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 6px;
    color: rgba($white, 0.6);
    list-style: url($icons-path + "/list-arrow.svg");
  }
}

.alert {
  padding: 25px 23px;
  border-radius: 11px;
  border: 0;
  font-size: 18px;
  line-height: 36px;

  .icon {
    margin-left: 14px;
    vertical-align: 1px;
  }

  &.alert-success {
    background-color: rgba($success, 0.1);
    color: $success;

    .icon {
      path {
        stroke: $success;
      }
    }
  }

  &.alert-warning {
    background-color: rgba($warning, 0.1);
    color: $warning;

    .icon {
      path {
        stroke: $warning;
      }
    }
  }

  &.alert-primary {
    background-color: rgba($primary, 0.1);
    color: $primary;

    .icon {
      path {
        stroke: $primary;
      }
    }
  }

  &.alert-danger {
    background-color: rgba($danger, 0.1);
    color: $danger;

    .icon {
      path {
        stroke: $danger;
      }
    }
  }

  &.alert-dark {
    background-color: rgba($white, 0.01);
    color: rgba($white, 0.6);

    .icon {
      path {
        stroke: $white;
      }
    }
  }

  &.alert-info {
    background-color: rgba($info, 0.1);
    color: $info;

    .icon {
      path {
        stroke: $info;
      }
    }
  }
}

.breadcrumb {
  margin-bottom: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
  .breadcrumb-item {
    min-width: fit-content;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: $success;
    padding-left: 3px;

    &.active {
      font-weight: 700;
      &::before {
        display: none;
      }
    }

    &::before {
      content: "/";
      font-weight: 500;
      color: $success;
      padding-right: 2px;
      float: left;
    }

    & > a {
      color: $success;
    }

    .icon {
      margin-left: 7px;
    }
  }
}

.accordion {
  .accordion-item {
    border: 0;
    background-color: unset !important;
    margin-bottom: 18px;
  }

  .accordion-header {
    background-color: rgba($white, 0.05);
    border-radius: $border-radius-sm;
  }

  .accordion-button {
    min-height: 66px;
    background-color: rgba($white, 0.05) !important;
    border-radius: $border-radius-sm !important;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: $white;
    padding: 20px 30px 20px 40px;
    text-align: right;

    &:focus {
      box-shadow: none !important;
      border: 0 !important;
    }

    &::after {
      left: 25px;
      width: 9px;
      position: absolute;
      background-image: url($icons-path + "/arrow-down-filled.svg");
      background-size: contain;
      background-position: center;
    }
  }

  .accordion-body {
    font-weight: 500;
    font-size: 16px;
    line-height: 168.5%;
    padding: 25px;
    color: $black;
    background-color: $success !important;
    border-radius: $border-radius-sm !important;
  }
}

@media only screen and (max-width: 1040px) {
  .btn {
    height: 46px;
    line-height: 46px;
    padding: 0 23px;
    font-weight: 500;
    font-size: 15px;
  }

  .form-control {
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    border-radius: $border-radius-sm;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .accordion {
    .accordion-button {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      padding: 14px 20px 14px 30px;
    }

    .accordion-body {
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      padding: 16px 20px;
    }
  }
  .form-check-input {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 5px !important;
  }

  .alert {
    font-size: 14px;
    line-height: 24px;
    padding: 14px 16px;

    .icon {
      margin-left: 5px;
    }
  }

  .form-check-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }

  .page-nav-tabs-wrapper {
    width: 100%;
    overflow: auto;
    margin-top: 60px;

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .nav-tabs {
    &.page-nav-tabs {
      min-width: 440px;
      margin-bottom: 11px;
      flex-wrap: nowrap;
      .nav-link {
        font-weight: 700;
        font-size: 15px;
        line-height: 123.5%;
        white-space: nowrap;
      }
    }
  }

  .breadcrumb {
    margin-bottom: 0;
    .breadcrumb-item {
      font-size: 12px;
      line-height: 19px;

      &.active {
        font-weight: 500;
      }
    }
  }
}
