.ellipse {
  position: absolute;
  width: 451px;
  height: 451px;
  background: rgba($success, 0.1);
  filter: blur(112.5px);
}

.custom-select {
  position: relative;

  select {
    display: none;
  }

  .select-selected {
    height: 32px;
    background-color: #404040;
    color: $white;
    font-weight: 400;
    font-size: 11.5px;
    line-height: 18px;
    padding: 8px 16px;
    border: 0;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      top: 13px;
      left: 14px;
      width: 14px;
      height: 8px;
      background-image: url($icons-path + "/arrow-down.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::before {
      content: "مرتب سازی بر اساس:";
      font-weight: 700;
      padding-left: 2px;
    }

    &.select-selected--active {
      border-bottom: 0;
    }
  }

  .select-items {
    position: absolute;
    background-color: #404040;
    top: 130%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 0;
    border: 0;
    border-radius: 16px;
    overflow: hidden;
    div {
      color: $white;
      font-weight: 700;
      font-size: 11.5px;
      line-height: 18px;
      padding: 10px 14px;
      cursor: pointer;

      &:first-child {
        border-top: 1px solid rgba($white, 0.05);
        padding-top: 16px;
      }

      &:hover {
        background-color: rgba($white, 0.05);
      }
    }
  }

  .select-hide {
    display: none;
  }

  .same-as-selected {
    color: $secondary;
  }
}

.circle-progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    transform: rotate(34deg);
  }

  .circle-progress__content {
    position: absolute;
    top: 30%;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .circle-progress__counter {
    font-weight: 700;
    font-size: 52px;
    line-height: 46px;
  }

  .circle-progress__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba($white, 0.7);
  }
}

.info-item {
  display: flex;
  align-items: center;
  padding-left: 50px;
  margin-left: 50px;
  border-left: 1px solid rgba($white, 0.2);
  position: relative;
  z-index: 1;

  &:last-of-type {
    margin-left: 0;
    border-left: 0;
  }

  .info-item__icon {
    width: 90px;
    min-width: 90px;
    height: 90px;
    border-radius: 100%;
    text-align: center;
    line-height: 90px;
    background-color: rgba($success, 0.1);
    margin-left: 22px;
    padding: 24px;

    .icon {
      display: block;
      width: 100%;

      svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .info-item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 123.5%;
    white-space: nowrap;
    margin-bottom: 2px;
  }

  .info-item__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 123.5%;
    color: $success;
    font-family: $font-family, sans-serif;
  }
}

.question-item {
  margin-bottom: 66px;

  &.question-item--answer {
    padding-right: 100px;
    position: relative;
    .question-item__body {
      display: flex;
      align-items: center;
    }

    .question-item__icon {
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      top: 0;
      right: 16px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .question-item__header {
    display: flex;
    align-items: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #585858;

    .question-item__header__icon {
      display: none;
      margin-bottom: 10px;
    }
  }

  .question-item__gravatar {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #474747;
    margin-left: 17px;

    &.question-item__gravatar--default {
      background-image: url($icons-path + "/profile.svg");

      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .question-item__user {
    font-weight: 800;
    font-size: 24px;
    line-height: 37px;
    margin-left: 17px;
  }

  .question-item__created-at {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba($white, 0.7);
  }

  .question-item__body {
    padding: 16px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: rgba($white, 0.6);
  }
}

.swal2-container {
  background-color: rgba($black, 0.5);

  &.sweetalert--success {
    .swal2-title {
      color: $success;
    }

    .sweet-alert__img {
      background-color: rgba($success, 0.1);
    }
  }

  &.sweetalert--danger {
    .swal2-title {
      color: $danger;
    }

    .sweet-alert__img {
      background-color: rgba($danger, 0.1);
    }
  }

  &.sweetalert--info {
    .swal2-title {
      color: $info;
    }

    .sweet-alert__img {
      background-color: rgba($info, 0.1);
    }
  }

  &.sweetalert--primary {
    .swal2-title {
      color: $primary;
    }

    .sweet-alert__img {
      background-color: rgba($primary, 0.1);
    }
  }

  &.sweetalert--warning {
    .swal2-title {
      color: $warning;
    }

    .sweet-alert__img {
      background-color: rgba($warning, 0.1);
    }
  }

  .sweet-alert__img {
    width: 140px;
    min-width: 140px;
    max-width: 140px;
    height: 140px;
    border-radius: 100%;
    padding: 40px;
  }

  .swal2-popup {
    width: 100%;
    max-width: 640px;
    border-radius: $border-radius;
    background-color: $black;
    padding: 14px 14px 38px;
  }

  .swal2-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 123.5%;
  }

  .swal2-html-container {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 992px) {
  .question-item {
    margin-bottom: 37px;
    .question-item__user {
      font-size: 20px;
      line-height: 31px;
    }

    .question-item__created-at {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }

    .question-item__body {
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
    }
  }

  .info-item {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-left: 36px;
    border: 0;
    .info-item__icon {
      width: 40px;
      min-width: 40px;
      height: 40px;
      padding: 9px !important;
      margin-bottom: 6px;
    }

    .info-item__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 123.5%;
      margin-bottom: 0;
    }

    .info-item__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 123.5%;
    }
  }

  .circle-progress {
    canvas {
      width: 137px !important;
      height: 137px !important;
    }

    .circle-progress__counter {
      font-weight: 700;
      font-size: 44px;
      line-height: 38px;
    }

    .circle-progress__title {
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
    }
  }

  .swal2-container {
    .sweet-alert__img {
      width: 110px;
      min-width: 110px;
      max-width: 110px;
      height: 110px;
      border-radius: 100%;
      padding: 33px;
    }

    .swal2-popup {
      width: 100%;
      max-width: 640px;
      border-radius: $border-radius;
      background-color: $black;
      padding: 14px 14px 38px;
    }

    .swal2-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 123.5%;
    }

    .swal2-html-container {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      margin-top: 5px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .ellipse {
    filter: blur(35.5px);
    width: 232px;
    height: 232px;
  }
}

@media only screen and (max-width: 660px) {
  .question-item {
    padding-right: 0;

    &.question-item--answer {
      padding-right: 0;
      .question-item__icon {
        display: none;
      }
    }

    .question-item__header {
      flex-direction: column;
      padding-bottom: 13px;

      .question-item__header__icon {
        display: block;
      }
    }

    .question-item__gravatar {
      width: 64px;
      height: 64px;
      min-width: 64px;
      margin-left: 0;
      margin-bottom: 10px;
    }

    .question-item__body {
      padding: 14px 0;
    }

    .question-item__user {
      margin-bottom: 1px;
      margin-left: 0;
    }

    .question-item__footer {
      text-align: center;
    }
  }
}
