.ellipse {
  position: absolute;
  width: 451px;
  height: 451px;
  background: rgba($success, 0.1);
  filter: blur(112.5px);
}

.custom-select {
  position: relative;

  select {
    display: none;
  }

  .select-selected {
    height: 32px;
    background-color: #404040;
    color: $white;
    font-weight: 400;
    font-size: 11.5px;
    line-height: 18px;
    padding: 8px 16px;
    border: 0;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      top: 13px;
      left: 14px;
      width: 14px;
      height: 8px;
      background-image: url($icons-path + "/arrow-down.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::before {
      content: "مرتب سازی بر اساس:";
      font-weight: 700;
      padding-left: 2px;
    }

    &.select-selected--active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: 0;
    }
  }

  .select-items {
    position: absolute;
    background-color: #404040;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    border-top: 1px solid $secondary;
    padding: 0 16px 16px 16px;
    border: 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    div {
      color: $white;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      padding: 10px 0;
      cursor: pointer;

      &:first-child {
        border-top: 1px solid rgba($white, 0.05);
        padding-top: 16px;
      }

      &:hover {
        color: $success;
      }
    }
  }

  .select-hide {
    display: none;
  }

  .same-as-selected {
    color: $secondary;
  }
}

.circle-progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  canvas {
    transform: rotate(34deg);
  }

  .circle-progress__content {
    position: absolute;
    top: 30%;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .circle-progress__counter {
    font-weight: 700;
    font-size: 52px;
    line-height: 46px;
  }

  .circle-progress__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba($white, 0.7);
  }
}
