// colors
$success: #99E39E;
$info: #69CDFF;
$danger: #FE3745;
$warning: #FFD00D;
$dark: #1E1E1E;
$black: #000;
$white: #fff;

// radiuses
$border-radius: 20px;
$border-radius-sm: 8px;
$border-radius-md: 15px;
$border-radius-xxl: 50px;

// fonts
$font-family: "yekan-bakh";
$font: 18px;
$font-sm: 16px;
$font-lg: 20px;
$font-xl: 24px;
$font-xxl: 36px;

// animations
$base-transition: 0.2s ease;

// pathes
$fonts-path: "../fonts";
$images-path: "../images";
$icons-path: "../images/icons";
