.auth {
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;

  .auth__poster {
    width: 50%;
    min-width: 50%;
    position: fixed;
    top: 0;
    bottom: 0;
    .auth__poster__inner {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url($images-path + "/auth-poster.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: rgb(153, 227, 158);
      background: linear-gradient(45deg, rgba(153, 227, 158, 1) 0%, rgba(70, 92, 72, 1) 100%);
    }

    .auth__poster__logo {
      width: 220px;
      position: relative;
      z-index: 1;
    }
  }

  .auth__content {
    width: 50%;
    min-width: 50%;
    padding: 64px;
    margin-right: auto;
    background-image: url($images-path + "/auth-content-bg.png");
    background-size: 200%;
    background-repeat: no-repeat;

    .auth__content__logo {
      width: 99px;
      margin-right: auto;
      margin-bottom: 154px;
    }
  }

  .auth__note {
    margin-top: 144px;
    text-align: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 33px;
    color: rgba($white, 0.3);
    position: absolute;
    left: 64px;
    bottom: 54px;
  }

  .auth__form {
    margin-bottom: 144px;
    .auth__form__header {
      margin-bottom: 32px;
    }

    .auth__form__title {
      font-weight: 800;
      font-size: 48px;
      line-height: 123.5%;
      margin-bottom: 10px;
    }

    .auth__form__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 33px;
      text-align: justify;
      color: rgba($white, 0.6);
    }

    .form-group {
      &.form-group--has-icon {
        .icon {
          top: 17px;
        }
      }
    }

    .form-control {
      width: 100%;
      height: 66px;
      font-weight: 500;
      font-size: 20px;

      &::placeholder {
        color: rgba($white, 0.3);
        font-weight: 500;
        font-size: 20px;
      }
    }

    .btn {
      height: 66px;
      line-height: 68px;
      font-weight: 500;
      font-size: 20px;
    }

    .auth__form__btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
       .btn {
        font-size: 20px;
       }
    }

    .auth__form__note {
      font-weight: 500;
      font-size: 20px;
      line-height: 31px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .auth {
    .auth__form {
      padding: 0 60px;
      .auth__form__inner {
        padding-left: 90px;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .auth {
    .auth__content {
      padding: 32px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .auth {
    .auth__poster {
      display: none;
    }
    .auth__content {
      width: 100%;
      padding: 32px 20px;

      .auth__content__logo {
        width: 75px;
        margin: 33px auto 79px;
      }
    }

    .auth__form {
      margin-bottom: 79px;
      .auth__form__header {
        margin-bottom: 18px;
        text-align: center;
      }
      .auth__form__title {
        font-weight: 800;
        font-size: 32px;
        line-height: 123.5%;
        margin-bottom: 11px;
      }

      .auth__form__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        text-align: center;
      }

      .form-control {
        height: 52px;
        font-weight: 500;
        font-size: 16px;

        &::placeholder {
          font-weight: 500;
          font-size: 16px;
        }
      }

      .form-group {
        &.form-group--has-icon {
          .icon {
            top: 10px;
          }
        }
      }

      .btn {
        height: 52px;
        line-height: 52px;
        font-weight: 500;
        font-size: 16px;
      }

      .auth__form__btn-wrapper {
        .btn {
          font-size: 20px;
        }
      }

      .auth__form__note {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .auth__note {
      position: unset;
      margin: 0;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .auth {
    .auth__form {
      .auth__form__btn-wrapper {
        flex-direction: column;

        .btn {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }
  }
}
