.dsm-card {
  padding: 21px 16px 16px 58px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(25px);
  border-radius: $border-radius-md;
  &.dsm-card--large {
    padding: 37px 27px 37px 65px;
  }
  .dsm-card__images {
    display: flex;
    margin-bottom: 8px;

    img {
      width: 44px;
      height: 44px;
      border-radius: 100%;
      border: 3px solid #000;
      position: relative;

      &:nth-of-type(1) {
        z-index: 3;
      }

      &:nth-of-type(2) {
        z-index: 2;
        right: -22px;
      }

      &:nth-of-type(3) {
        z-index: 1;
        right: -44px;
      }
    }
  }

  .dsm-card__title {
    font-weight: 800;
    font-size: 74px;
    line-height: 0.8;
    color: $success;
  }

  .dsm-card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.26;
    color: rgba($white, 0.6);
  }
}

.portfolio-card {
  position: relative;

  .portfolio-card__img {
    border-radius: $border-radius-md;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .portfolio-card__content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #161616;
    padding: 20px;
    text-align: center;
    border-top-right-radius: $border-radius-md;
    border-top-left-radius: $border-radius-md;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .portfolio-card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: $success;
  }

  .portfolio-card__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba($white, 0.2);
  }
}

.package-card {
  width: 100%;
  height: 100%;
  background-color: #161616;
  border-radius: $border-radius-md;
  padding: 36px;

  .package-card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .package-card__header {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
  }

  .package-card__img {
    width: 85px;
    min-width: 85px;
    height: 85px;
    margin-left: 24px;
    border-radius: 100%;
    overflow: hidden;
  }

  .package-card__uptitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
  }

  .package-card__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 43px;
    color: $success;
  }

  .package-card__body {
    .package-card__body__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 12px;
    }
  }

  .package-card__list {
    display: flex;
    flex-wrap: wrap;
    .package-card__list__item {
      display: list-item;
      width: calc(50% - 20px);
      min-width: calc(50% - 20px);
      padding-left: 10px;
      margin-right: 20px;
      list-style: url($icons-path + "/list-arrow.svg");
    }
  }

  .package-card__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 32px;

    .package-card__footer__item {
      width: 50%;
      min-width: 50%;
      display: flex;
      align-items: center;

      .icon {
        width: 25px;
        min-width: 25px;
        border-radius: 100%;
        line-height: 25px;
        text-align: center;
        margin-left: 10px;
        background-color: rgba($success, 0.4);
      }

      .package-card__footer__item__content {
        .title {
          display: block;
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
        }

        .subtitle {
          display: block;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          opacity: 0.6;
        }
      }
    }
  }

  .package-card__btn {
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 26px;
  }
}

.comment-card {
  background-color: #161616;
  border-radius: $border-radius-md;
  padding: 18px 34px;

  .comment-card__quite {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    &::after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: rgba($white, 0.2);
    }
    .comment-card__quite__sign {
      position: relative;
      width: 40px;
      min-width: 40px;
      height: 40px;
      border-radius: 100%;
      text-align: center;
      line-height: 80px;
      color: $success;
      font-weight: 400;
      font-size: 58px;
      background-color: rgba($success, 0.1);
      margin-left: 14px;
    }
  }

  .comment-card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: rgba($white, 0.6);
    margin-bottom: 16px;
  }

  .comment-card__commenter {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .comment-card__commenter__rate {
      width: 60px;
      min-width: 60px;
      height: 60px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#edb518, 0.1);
      margin-left: 14px;

      img {
        width: 31px;
      }
    }

    .comment-card__commenter__name {
      font-weight: 700;
      font-size: 20px;
      line-height: 34px;
    }

    .comment-card__commenter__status {
      font-weight: 400;
      font-size: 18px;
      line-height: 34px;
      color: rgba($white, 0.6);
    }
  }
}

.template-card {
  background-color: #161616;
  border-radius: $border-radius-md;

  .template-card__img {
    max-height: 246px;
    border-radius: $border-radius-md;
    overflow: hidden;
  }

  .template-card__title {
    padding: 16px 24px 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: $white;
  }

  .template-card__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 24px 16px;
  }

  .template-card__item {
    width: 50%;
    min-width: 50%;
    text-align: center;
    .template-card__item__key {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: rgba($white, 0.6);
      display: block;
    }

    .template-card__item__value {
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      color: $success;
      display: block;
    }
  }

  .template-card__btn {
    width: 100%;
    margin-top: 20px;
  }
}

.order-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 178px;
  background: rgba(#000, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 25px;

  .order-card__title {
    font-weight: 800;
    font-size: 52px;
    line-height: 110.5%;
    margin-bottom: 10px;
  }

  .order-card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba($white, 0.7);
  }

  .order-card__body {
    width: 100%;
    padding-left: 24px;
    position: relative;
  }

  .order-card__body__star {
    position: absolute;
    right: 0;
    top: -44px;
  }

  .order-card__footer {
    .btn {
      min-width: max-content;
      height: 77px;
      font-weight: 700;
      font-size: 24px;
      line-height: 77px;
    }
  }
}

.blog-card {
  background-color: initial;

  .blog-card__img {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px -78px 42px rgba(0, 0, 0, 0.02), 0px 52px 64px rgba(0, 0, 0, 0.02);
    border-radius: 13px;
    overflow: hidden;
    min-height: 200px;
    margin-bottom: 24px;

    img {
      min-height: inherit;
    }
  }

  .blog-card__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
    color: $white;
  }

  .blog-card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: rgba($white, 0.6);
    margin-bottom: 12px;
  }

  .blog-card__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: $success;

    .icon {
      margin-right: 8px;
    }
  }
}

.newsletter-card {
  margin-bottom: 35px;
  border-radius: $border-radius-md;
  overflow: hidden;
  position: relative;
  padding: 24px;
  background: rgb(21, 30, 22);
  background: linear-gradient(103deg, rgba(21, 30, 22, 0.27) 0%, rgba(116, 161, 119, 0.5) 100%);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url($images-path + "/newsletter-bg.png");
    z-index: -1;
    opacity: 0.08;
  }

  .newsletter-card__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    margin-bottom: 4px;

    .icon {
      margin-left: 7px;
    }

    &::after {
      content: "";
      margin-right: 12px;
      width: 100%;
      height: 1px;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='3' stroke-dasharray='3%2c 16' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    }

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      opacity: 1;
      left: 0;
      background: rgb(42, 47, 41);
      background: linear-gradient(90deg, rgba(42, 47, 41, 1) 0%, rgba(42, 47, 41, 0.3) 100%);
    }
  }

  .newsletter-card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .newsletter-card__form {
    margin-top: 16px;
    .form-control {
      background: rgba($black, 0.27);
      border-radius: 12px;
      height: 53px;
      margin-bottom: 20px;

      &::placeholder {
        font-weight: 400;
        font-size: 14px;
      }
    }
    .btn {
      border-radius: $border-radius-sm;
      height: 53px;
      width: 100%;
      line-height: 53px;
    }
  }
}

.service-card {
  background-color: rgba($black, 0.3);
  border-radius: $border-radius;
  padding: 49px 34px 34px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .service-card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 123.5%;
    color: $white;
    margin-bottom: 22px;
  }

  .service-card__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: rgba($white, 0.6);
  }

  .service-card__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    margin-top: 30px;
    
    .icon {
      margin-right: 8px;
    }
  }

  &.service-card--warning {
    .service-card__link {
      color: $warning;
      
      .icon path {
        fill: $warning;
      }
    }
    .service-card__icon {
      background-color: rgba($warning, 0.05);
    }
  }

  &.service-card--success {
    .service-card__link {
      color: $success;
      
      .icon path {
        fill: $success;
      }
    }

    .service-card__icon {
      background-color: rgba($success, 0.05);
    }
  }

  &.service-card--danger {
    .service-card__link {
      color: $danger;
      
      .icon path {
        fill: $danger;
      }
    }
    .service-card__icon {
      background-color: rgba($danger, 0.05);
    }
  }

  &.service-card--info {
    .service-card__link {
      color: $info;
      
      .icon path {
        fill: $info;
      }
    }
    .service-card__icon {
      background-color: rgba($info, 0.05);
    }
  }

  .service-card__icon {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    text-align: center;
    line-height: 140px;
    margin-bottom: 46px;
  }
}
