.header {
  background-color: initial;
  padding: 4rem 0 12px;
  z-index: 1;

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .header__menu-toggler {
    display: none;
    border: 0;
    background-color: unset !important;
    box-shadow: none !important;
    border-radius: 0;
    outline: 0;
  }

  .header__logo {
    width: 101px;
  }

  .header__nav {
    display: flex;
    align-items: center;
    height: 60px;

    .header__nav__item {
      font-weight: 500;
      font-size: 20px;
      line-height: 31px;
      padding: 10px 26px;
      text-align: center;
      color: rgba($white, 0.7);
      position: relative;

      &::after {
        content: "/";
        position: absolute;
        left: -7px;
        top: 10px;
        color: $white;
        font-weight: 400;
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }

      &.active,
      &:hover {
        color: $white;
      }
    }
  }

  .header__ellipse {
    right: -100px;
    top: 30px;
  }
}

@media only screen and(max-width: 992px) {
  .header {
    padding: 37px 0 10px;
    .header__logo {
      width: 64px;
    }

    .header__menu-toggler {
      display: block;
    }

    .header__nav {
      display: none;
    }

    .header__actions {
      display: none;
    }

    .header__ellipse {
      display: none;
    }
  }
}
