.main-intro {
  margin-top: 20px;
  margin-bottom: 68px;
  .main-intro__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;

    .main-intro__content__ellipse {
      display: none;
      width: 235px;
      height: 235px;
      border-radius: 100%;
      background-color: rgba($success, 0.1);
      filter: blur(35.5px);
      position: absolute;
      top: -110px;
      right: -18px;
      z-index: -1;
    }
  }

  .main-intro__title {
    font-weight: 800;
    font-size: 64px;
    line-height: 123.5%;
    margin-bottom: 9px;
  }

  .main-intro__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.7;
    margin-bottom: 45px;
  }

  .main-intro__links {
    .btn {
      width: 175px;
    }
  }

  .main-intro__bottom {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-intro__statistics {
    display: flex;
    align-items: center;

    .main-intro__statistics__item {
      display: flex;
      align-items: center;
      &:first-of-type {
        margin-left: 100px;
      }

      .number {
        font-weight: 800;
        font-size: 48px;
      }

      .plus {
        font-weight: 800;
        font-size: 48px;
        color: $success;
      }

      .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        opacity: 0.7;
        margin-right: 6px;
      }
    }
  }

  .main-intro__customers-wrapper {
    overflow-x: auto;
    overflow-y: visible;
    cursor: grab;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .main-intro__customers {
    display: flex;
    align-items: center;
    min-width: 490px;

    .main-intro__customers__item {
      margin-left: 40px;

      &:last-of-type {
        margin-left: 0;
      }
    }
  }

  .main-intro__charts {
    width: 100%;
    position: relative;
  }

  .main-intro__shapes {
    position: absolute;
    left: -180px;
    top: -250px;
    z-index: 0;
  }

  .dsm-card {
    position: absolute;
    &.dsm-card--top {
      top: 96px;
      right: 40px;
    }

    &.dsm-card--bottom {
      bottom: 36px;
      left: 30%;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .main-intro {
    .main-intro__content {
      padding-left: 120px;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1180px) {
  .main-intro {
    .dsm-card {
      &.dsm-card--top {
        top: 20px;
        right: 20px;
      }

      &.dsm-card--bottom {
        bottom: 28px;
        left: 60px;
      }
    }
  }
}

@media only screen and (max-width: 1140px) {
  .main-intro {
    .main-intro__bottom {
      flex-direction: column;
    }

    .main-intro__customers-wrapper {
      width: 100%;
    }

    .main-intro__customers {
      justify-content: center;

      .main-intro__customers__item {
        margin-left: 20px;

        &:last-of-type {
          margin-left: 0;
        }
      }
    }

    .main-intro__statistics {
      .main-intro__statistics__item {
        &:first-of-type {
          margin-left: 50px;
          padding-left: 50px;
          border-left: 1px solid rgba($white, 0.2);
        }
      }
    }
  }
}

@media only screen and (max-width: 1040px) {
  .main-intro {
    .main-intro__title {
      font-size: 32px;
      line-height: 123.5%;
    }

    .main-intro__text {
      font-size: 14px;
      line-height: 22px;
    }

    .main-intro__links {
      .btn {
        width: auto;
        min-width: 120px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-intro {
    .dsm-card {
      &.dsm-card--top {
        top: 20px;
        right: 20px;
      }

      &.dsm-card--bottom {
        bottom: 12px;
        left: 40px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .main-intro {
    margin-bottom: 24px !important;
  }
}

@media only screen and (max-width: 768px) {
  .main-intro {
    .main-intro__content {
      margin-top: 30px;
      margin-bottom: 0;
      justify-content: flex-start;

      .main-intro__content__ellipse {
        display: block;
      }
    }

    .main-intro__shapes {
      display: none;
    }

    .dsm-card {
      &.dsm-card--bottom {
        left: 20%;
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .main-intro {
    .dsm-card {
      &.dsm-card--top {
        top: 70px;
      }

      &.dsm-card--bottom {
        bottom: 14px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .main-intro {
    .main-intro__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 19px;
      margin-bottom: 24px;
    }

    .main-intro__statistics {
      .main-intro__statistics__item {
        &:first-of-type {
          margin-left: 10px;
          padding-left: 10px;
        }

        .number,
        .plus {
          font-size: 32px;
          line-height: 50px;
        }

        .text {
          font-weight: 400;
          font-size: 13px;
          line-height: 20px;
        }
      }
    }
  }
}
