.packages {
  padding: 36px 0;
  position: relative;
  margin-bottom: 148px;

  .packages__header {
    text-align: center;
    margin-bottom: 54px;
    position: relative;

    .packages__header__ellipse {
      position: absolute;
      width: 451px;
      height: 451px;
      right: calc(50% - 225px);
      top: 0;
      background: rgba($success, 0.1);
      filter: blur(112.5px);
    }
  }

  .packages__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: $success;
  }

  .packages__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    opacity: 0.7;
  }

  .packages__ellipse {
    right: calc(50% - 225px);
    bottom: -160px;
    background: rgba($success, 0.1);
    filter: blur(112px);
    z-index: -1;
  }
}

@media only screen and (max-width: 1140px) {
  .packages {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .packages {
    margin-bottom: 0;
    .packages__header {
      margin-bottom: 25px;
    }

    .packages__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
    }

    .packages__subtitle {
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }

    .packages__ellipse {
      right: -42px;
      bottom: -16px;
    }
  }
}
