.rules {
  .rules__item {
    .rules__item__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 123.5%;
      margin-bottom: 14px;
    }

    .rules__item__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 34px;
      color: rgba($white, 0.6);
      margin-bottom: 26px;
    }
  }

  .rules__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    .rules__list__item {
      font-weight: 400;
      font-size: 18px;
      color: rgba($white, 0.6);
      margin-bottom: 12px;
      padding-right: 20px;
      padding-left: 12px;
      position: relative;
      min-width: 50%;
      max-width: 50%;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        content: "-";
        font-weight: 500;
        position: absolute;
        right: 0;
      }
    }
  }
}

@media only screen and(max-width: 992px) {
  .rules {
    margin-top: 36px;

    .rules__item {
      margin-bottom: 30px;
      .rules__item__title {
        font-weight: 700;
        font-size: 15px;
        line-height: 123.5%;
        margin-bottom: 5px;
      }

      .rules__item__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        margin-bottom: 5px;
      }
    }

    .rules__list {
      .rules__list__item {
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 8px;
        padding-right: 15px;
        padding-left: 6px;
      }
    }
  }
}
